# ======================
# 🔹 Go binaries
# ======================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# ======================
# 🔹 Go cache
# ======================
*.log
*.tmp

# ======================
# 🔹 IDE files
# ======================

# VSCode
.vscode/

# GoLand / IntelliJ
.idea/

# Sublime
*.sublime-project
*.sublime-workspace

# ======================
# 🔹 OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# 🔹 Env / secret
# ======================
.env
.env.*


# ======================
# 🔹 Logs
# ======================
logs/
*.log

